.nav-tabs {
  .nav-link {
    &.active {
      color: 'gray';
      background: #fff;
      border-color: 'gray';
      border-bottom-color: #fff;
      &:focus {
        background: #fff;
        border-color: 'gray';
        border-bottom-color: #fff;
      }
    }
  }
}

.tab-content {
  margin-top: -1px;
  background: #fff;
  border: 1px solid gray;
  .tab-pane {
    padding: 0;
  }
}

.card-block {
  .tab-content {
    margin-top: 0;
    border: 0;
  }
}

.nav-fill {
  .nav-link {
    background-color: #fff;
    border-color: 'gray';
  }
  .nav-link + .nav-link {
    margin-left: -1px;
  }
  .nav-link.active {
    margin-top: -1px;
    // margin-left: 0;
    border-top: 2px solid gray;
  }
}

// Right-to-Left Support
*[dir="rtl"] {
  .nav {
    padding-right: 0;
  }
}
