@import "./package/scss/core.scss";

.dates {
    display:flex;
}

.badge{
    line-height: 2!important;
}

//move the search bar and pagination right side
.dataTables_filter{
    float: right!important;
}
.pagination {
    float: right;
}


/*Tags Css Start*/
#tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
}

.tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #0052cc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.tag {
    display: flex;
	width: auto;
	height: 32px;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 7px 12px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
	background: #20a8d8;
	.tag-title {
		margin-top: 3px;
    }
}

/*Tags Css End*/

.footer_button{
    text-align:center!important;
}

/*view button*/
.view_button {
    color: #fff!important;
    background-color: #19ac68!important;
    border-color:#2bb142fa!important;
  }

  .edit_button {
    color: #fff!important;
    background-color: #1985ac!important;
    border-color: #187da0!important;
  }

  .deactive_button {
    color: #fff!important;
    background-color: #f86c6b!important;
    border-color: #f86c6b!important;
  }
  .date_fix {
    margin-top: -3%;
  }

  .background-image-login {
      background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }
.opacity-login {
    opacity: 0.9;
  }